{
    "presets": [
        [
            "@babel/env",
            {
                "useBuiltIns": "usage",
                "corejs": "2",
                "targets": {
                    "browsers": [
                        "iOS >= 7",
                        "Android >= 4.1"
                    ]
                }
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "@babel/transform-runtime",
        "@babel/plugin-transform-modules-commonjs"
    ]
}