extends ../../layout/default

block title
    script(src='./static/helpers/rem.js')
    title 详情页
    

block body
    #app

block script
    if htmlWebpackPlugin.options.mode == 'development'
        script.
            console.log('development')
    else 
        script.
            console.log('production')
