// container
$desktop-width: 1200px;
$tablet-width: 1024px;
$phone-width: 768px;


//Colors
$yellow: #ff9A2A;
$green: #7FBC39;

$primary: #00B4CF;
$accent: #01869A;

$white: #f3f3f3;
$grey-light: #E1E4E6;
$grey: #71787E;

$dark: #2D4054;;
$dark-grey: #435466;


//shadow
$shadow: rgba(0, 0, 0, .3);


//Font
$sans-serif: Avenir, Helvetica, Arial, sans-serif;
$font-family: $sans-serif;

//Typography
$font-size-base: 14px;
$border: 1px solid $shadow;