doctype html
html(lang="zh-cmn")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include ./header
        block title
    body(ontouchstart)
        block body
        include ./scripts
        block script
